/* third party */
@import 'bootstrap';
@import 'font-awesome';

/* my code */
@import 'toolbar';
@import 'drills_table';
@import 'slider';
@import 'pencil_input';

$footer-height: 50px;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-height;
}

.footer, .footer-spacer {
  height: $footer-height;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #666666;
  color: white;
  border-top: 2px solid #333333;
}

.margin-top-10 {
  margin-top: 10px;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently not supported by any browser */
}

.timer-countdown {
  margin: 0 auto;
  position: relative;
  width: 100px;
  height: 100px;

  .countdown-text {
    position: relative;
    text-align: center;
    top: 35px;
    z-index: 2;
  }

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: .6;
    width: 100px;
    height: 100px;
    z-index: 1;
  }
}

.btn-primary {
  background: #553100;
  border: 1px solid #332000;

  &:hover {
    background: #664211;
  }
}
