/* third party */
@import 'bootstrap';
@import 'font-awesome';

/* my code */
@import 'toolbar';
@import 'drills_table';
@import 'slider';

.margin-top-10 {
  margin-top: 10px;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently not supported by any browser */
}
