$add-row-bg-color: #ecf2f9;

.drills-table {
  .add-drill-row {
    background: $add-row-bg-color;

    &:hover {
      background: $add-row-bg-color;
    }

    td {
      padding: 5px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      cursor: pointer;
    }
  }

  .inner-addon {
    position: relative;
    i {
      color: #888;
    }
  }

  .inner-addon i {
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }

  .right-addon i {
    right: 0px;
  }
}
