!!!
%html
  %head
    %title Self Taught Music v2
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  %body
    .container
      .row.margin-top-10
        .col-md-12
          - flash.each do |key, value|
            - key = key == 'error' ? 'danger' : key
            %div{class: "app-alert alert alert-#{key}"}= value.html_safe
    = yield
